.main {

    width: 70%;
    height: calc(100% - 5rem);
    .title {

        width: 100%;
        height: 4rem;
        font-size: 1.4rem;

    }

    .map {
        width: 100%;
        height: calc(100%-4rem);
    }

}